* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f4f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


header{
   color: rgb(69, 99, 29); 
}
.card {
  background: linear-gradient( to top ,rgb(179, 196, 29),rgb(193, 193, 218));
  width: 360px;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  text-align: center;
}

.logo h2 {
  color: #058616;
  margin-bottom: 4px;
}

.logo p {
  font-size: 13px;
  color: #0f5a50;
  margin-bottom: 15px;
}

h3 {
  margin-bottom: 20px;
  color: rgb(88, 25, 85);
}

.input-group {
  position: relative;
  margin-bottom: 15px;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #79a723;
}

.input-group input {
  width: 100%;
  padding: 12px 12px 12px 38px;
  border-radius: 8px;
  border: 1px solid #5d50aa;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #41a313;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #701468;
  color: rgb(37, 12, 12);
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1f4f88;
}

.login-text {
  margin-top: 15px;
  font-size: 14px;
  color: #0c413e;
}

.login-text a {
  color: #a52bb0;
  text-decoration: none;
  font-weight: bold;
}
.label{
    font-size: 20px;
    margin-right: 140px;
}